<div class="center-box guest-list">
  <h2 class="text-center">Guest List</h2>
  <p><strong>Total number of attendees</strong>: <%= @attendees_sum %></p>

  <%= render 'guestlist', obj: @rsvps_paginate %>

  <div class="row">
    <div class="col-md-9">
      <%= will_paginate @rsvps_paginate %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Download Guest List', rsvps_path(format: 'csv'), class: 'btn btn-default btn-guest-list' %>
    </div>
  </div>

</div>
