<div class="center-box thank-you">
  <h2 class="text-center">A Little Bit About Our Story</h2>
  <p>The physical details of our story start in Colorado Springs in August of 2014, however we know that God was
    at work long before then to bring us to the point of meeting each other.</p>
  <p><i>Boundless</i>, the online community and subdivision of Focus on the Family for young adults, was planning
    the very first ever Pursuit conference for Christian singles around the world to participate in a weekend of
    teaching, worship, mingling, and being challenged to live life with purpose. An event like this one, drawing
    hundreds of people from all walks of life and multiple countries around the world, started years in advance with
    prayer and took months to prepare.</p>
  <p>We both decided to attend and were excited for an opportunity to learn more from the speakers at the
    conference, but did not plan to have an even more meaningful experience while we were there. On the morning of
    the second day, Andrea was getting coffee before the first session began. Esau caught her smile from across
    the room, and decided to go introduce himself to her. As the first session was getting ready to begin, Esau
    invited Andrea to sit with him at his table. The morning continued on and by lunchtime, we made our way through
    the crowd to get our food and picnic with the other attendees outside on the lawn. It was a beautiful, sunny
    day and we enjoyed our conversation as a group. Gradually those in our immediate area dispersed one-by-one
    until it was just the two of us continuing to talk. We saw a lot of each other as the weekend continued
    (Esau was very attentive to go where Andrea went), and by the end of the conference, Esau made it clear that
    he wanted to get to know Andrea better.  We parted ways (Esau to Texas and Andrea to Kansas), agreeing that we
    could communicate (as friends only) over facebook to get to know each other better, but Andrea didn’t see much
    going beyond that.</p>
  <p>About a month later, Esau expressed a desire to again get to know Andrea better and see if there could be
    something more beyond friendship. By this time we had both found we had a lot in common and enjoyed each other’s
    friendship, albeit only over written communication thus far. We decided that the first step in determining if
    there was something more would be for us to visit each other again in person, so Esau made plans to fly up to
    visit Andrea the following month in her hometown of Abilene. The first visit went amazingly well, and we both
    prayed about what to do next, and decided that a visit by Andrea to Esau’s city of McAllen would be a wise next
    step before any decisions were made for our possible future together. This visit, too, went well, and by this
    time and after much thought, prayer, discussion, and counsel, we both had peace about beginning a long-distance
    relationship with each other. And that began our dating relationship of just over a year, which has stretched
    us, challenged us, and grown us in many ways that we could not have foreseen in the beginning.</p>
  <p>On Christmas Eve 2015 (after much anticipation on Andrea’s part leading up to that day) Esau asked Andrea
    to marry him. We look forward to sharing our special day with you and celebrating how God brought us together
    in a seemingly unlikely way (as we know He is amazing at doing).</p>
</div>