@import "bootstrap-sprockets";
@import "bootstrap";

$font-normal: Verdana, Arial, Helvetica;

body {
  background: none;
  font-family: $font-normal;
}

html {
  background: #DFE8E5 url('//drive.google.com/uc?id=0B38f1xKqr2sIdzI2QjRzVDQwVkU') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-body {
  padding: 18px !important;
}

.required {
  color: #ff0000;
  font-weight: bold;
}

.center-box {
  max-width: 500px;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 0 30px 0 30px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  font-family: "Playball", Verdana, Arial, Helvetica;
  font-size: 18px;
}

.guest-list {
  max-width: 950px;
  font-family: $font-normal;
  font-size: 14px;
}

.thank-you p {
  font-family: $font-normal;
  font-size: 15px;
}

h1 {
  color: #fff;
  text-shadow: 3px 3px 4px #808080;
  font-family: "Stalemate", Verdana, Arial, Helvetica;
  font-size: 85px;
}

input,
textarea,
.normal-font {
  font-family: $font-normal;
  font-size: 15px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert,
#error_explanation {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
  font-family: $font-normal;
}

.alert-success,
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

#error_explanation {
  padding: 15px 15px 15px 30px;
  margin-bottom: 30px;

  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}

.alert-recaptcha_error {
  display: none;
}

.g-recaptcha {
  display: inline-block;
}

.btn-guest-list {
  margin-top: 42px;
  margin-bottom: 20px;
}