@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: none;
}

html {
  background: asset-url('body-bg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-body {
  padding: 18px !important;
}

.required {
  color: #ff0000;
  font-weight: bold;
}

.center-box {
  max-width: 500px;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 0 30px 0 30px;
  border-radius: 8px;
  border: 2px solid #cccccc;
  font-family: "Playball", Verdana, Arial, Helvetica;
  font-size: 18px;
}

.guest-list {
  max-width: 900px;
  font-family: Verdana, Arial, Helvetica;
  font-size: 14px;
}

h1 {
  color: #fff;
  /**/text-shadow: 2px 2px 3px #808080;
  letter-spacing: -1px;
  font-family: "Stalemate", Verdana, Arial, Helvetica;

  font-size: 80px;
}

input,
textarea {
  font-family: Verdana, Arial, Helvetica;
}
